<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" href="" th:href="@{/css/bootstrap.css}">
<body>
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="" th:href="@{inicio}" role="button">Learn more</a></p>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<div class="alert alert-success" role="alert">success</div>
<div class="alert alert-info" role="alert">info</div>
<div class="alert alert-warning" role="alert">warning</div>
<div class="alert alert-danger" role="alert">danger</div>

<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/npm.js}"></script> -->
</body>
</html>